<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227534600429-m4k35dh8262n5i4dkglvdv96f5n8r8bb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227534600429-m4k35dh8262n5i4dkglvdv96f5n8r8bb</string>
	<key>API_KEY</key>
	<string>AIzaSyCgU0byx1w8ZGppR5WTZGaMMsWuVXa-COI</string>
	<key>GCM_SENDER_ID</key>
	<string>227534600429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-96d37</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-96d37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227534600429:ios:8f1f98bf2b333769e8b4e4</string>
</dict>
</plist>